.outer {
  width: min(var(--container), calc(100% - (var(--space-7) * 2)));
  margin-inline: auto;
  padding-inline: var(--space-7);
}

.outer[data-size="wide"] {
  width: min(1360px, calc(100% - (var(--space-7) * 2)));
}

